        body{
            color: whitesmoke;
            background-color: wheat;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        header{
            border: none;
            display: flex;
            justify-content:space-between;
            align-items: center;
            width: 100%;
            height: 15vh;
            background-color: rgb(91, 25, 153);
        }
        .image{
            border: none;
            width: 30vh;
            height: 15vh;
            background-image: url("logo.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        .container{
            border:none;
            width: 60%;
            height: 50vh;
            margin: 30px;
            border-top-left-radius: 90px ;
            border-bottom-right-radius: 90px ;
            box-sizing: border-box;
            padding: 30px;
            text-shadow: 0px 0px 5px white;
            background-color: rgb(91, 25, 153);
        }
        .block{
            border: none;
            width: 100%;
            height: 50vh;
            margin: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            background-color: wheat;
        }
        .items1,.items2,.items3,.items4{
            border: none;
            width: 25vh;
            height: 20vh;
            border-radius: 30px;
            padding: 10px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            transition: 1s ease-out;
        }
        .items1:hover,.items2:hover,.items3:hover,.items4:hover{
            width: 38vh;
            height: 27vh;
            filter: drop-shadow(0px 0px 10px rgb(91, 25, 153));
        }
        .items1{ background-image: url("c++.jpg");
        height: 20vh;}
        .items2{background-image: url("phplogo-1617378886.webp");
        height: 20vh;}
        .items3{background-image: url("python.webp");
        height: 20vh;}
        .items4{background-image: url("sql.png");
        height: 20vh;}
        .btn{
            font-size: 18px;
            margin-right: 15px;
            padding: 9px 19px 9px 19px;
            color: purple;
            border: none;
            border-radius: 40px;
        }
        .btn:hover{
            border:3px snow;
            box-shadow: 0px 0px 10px whitesmoke;
        }
        .label{
            text-decoration:overline;
            text-decoration-color: aliceblue;
            color: aliceblue;
        }
